.searchBar-main input{
  display: flex;
    margin: 3rem auto;
    width: 50%;
    height: 2.8rem;
    outline: none;
    border: none;
    border-radius: 1.6rem;;
    text-align: center;
    background-color: rgba(230, 234, 234, 0.923);
    position: relative;
    bottom: 3rem;
 


  &:focus {
    width: 60%;
  }
}

  .searchBar-main__searchTerm{
position: relative;
bottom: 5.5rem;


}







 


// .searchBar-main{
//   margin-right: 5.3rem;
//  border: 2px solid;
//  align-self: start;
//  height: 5rem;
// }

// .searchTerm{
//  border: 2px solid red;
// position: relative;
// top: -7.9rem;
// }