@import "../../designUtils/colors";

.productCard {
  display: flex;
  margin-bottom: $border2Rem;
  margin: 1rem;
  
  padding: 0 0.5rem;
  border-radius: 12px;
  box-shadow: 5px 12px 20px black;
  border: 2px solid rgb(234, 225, 225);
  
  &__image img {
    width: 12rem;
    height: 10rem;
    border-radius: 12px;
  }

  &__info {
    margin: 0 5px;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 8px;
  }



 
  @media only screen and (max-width: 600px) {
    &__info {
      font-size: 20px;
      font-weight: 100;
      text-transform: lowercase;
    }
  }
}
