.productDetail {
  display: flex;
  margin-top: 5rem;
  padding: 0.5rem;
  margin: 5rem 20%;

  &__image img {
    width: 20rem;
    height: 18rem;
    margin-right: 2rem;
    border-radius: 12px;
  }
  
  &__info {
    margin: 0 2rem;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 8px;
  }

  .vl {
    border-left: 0.2px solid rgb(20, 21, 20);
    height: 20rem;
  }

  @media only screen and (max-width: 600px) {
    display: block;
    margin: 3rem 20%;
    &__info {
      margin-top: 2rem;
    }

    .vl {
      height: 0;
    }
  }
}
